<div class="page-width">
  <div class="collections grid grid--3-col grid--5-col-tablet grid--5-col-desktop ">
    {% for block in section.blocks %}
      <a href="{{ block.settings.collection.url }}" class="collection grid__item">
        <div class="media media--circle">
          <img
            src="{{ block.settings.collection.featured_image | image_url: width: 500 }}"
            alt="{{ block.settings.collection.featured_image.alt | default: block.settings.collection.title | escape }}"
            loading="lazy"
            width="500"
            height="{{ 500 | divided_by: block.settings.collection.featured_image.aspect_ratio | round }}"
          >
        </div>

        <div class="collection-title">{{ block.settings.collection.title }}</div>
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Collections",
  "class": "section-collections",
  "settings": [],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections"
    }
  ]
}
{% endschema %}
